<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ItemSenseUri" value="http://192.168.1.8:80/itemsense" />
    <add key="ItemSenseUsername" value="admin" />
    <add key="ItemSensePassword" value="admindefault" />
    <add key="ThresholdTransitionThresholdFilter" value="" />
    <add key="ThresholdTransitionJobIdFilter" value="" />
    <add key="ZoneTransitionJobIdFilter" value="" />
    <add key="ZoneTransitionDistanceFilter" value="0" />
    <add key="ZoneTransitionFromZoneFilter" value="" />
    <add key="ZoneTransitionToZoneFilter" value="" />
    <add key="ZoneTransitionFromFacilityFilter" value="" />
    <add key="ZoneTransitionToFacilityFilter" value="" />
    <add key="ZoneTransitionEpcFilter" value="" />
    <add key="ZoneTransitionsOnlyFilter" value="false" />
    <!-- For demo purposes ItemSense epc events will be logged as information events viewable in Windows Event Viewer  -->
    <add key="ShowTagsInEventViewer" value="true" />
    <!-- For demo purposes ItemSense epc event history will be truncated to only 2 minutes or 120,000 milliseconds  -->
    <add key="ItemSenseEventProcessingHistoryInterval(msecs)" value="120000" />
    <!-- For demo purposes Extended Tables upc event history will be truncated to 7 days  -->
    <add key="ExtensionTableEventProcessingHistoryInterval(days)" value="7" />
    <!-- For demo purposes tag events will be inserted to short term tables every 25 seconds  -->
    <add key="EventProcessingInterval(msecs)" value="25000" />
    <add key="WriteRawToRDBMS" value="true" />
    <!-- WriteRawToRDBMS must be true to enable SmoothDataXY  -->
    <add key="SmoothDataXY" value="false" />
    <add key="SmoothedItemEventHistTableName" value="smoothed_item_event_hist" />
    <!-- TypeRDBMS current available options are: postgresql, sqlserver  -->
    <add key="TypeRDBMS" value="postgresql" />
    <!-- Note DbConnectionString is TypeRDBMS specific  -->
    <!-- <add key="DbConnectionString" value="Data Source=localhost;Initial Catalog=impinj;User id=sa;Password=nunya;" />-->
    <add key="DbConnectionString" value="Server=localhost;Port=5432;Database=postgres;User Id=postgres;Password=12345;" />
    <add key="CustomItemFilterCsvFileName" value="C:\tmp\Triumph_Item_File.csv" />
    <add key="ItemSenseExtensionEpcMasterTableName" value="epc_master" />
    <add key="ItemSenseExtensionUpcInventoryLocationTableName" value="upc_inv_loc" />
    <add key="ItemSenseRawItemEventHistTableName" value="is_raw_item_event_hist" />
    <add key="ItemSenseRawItemEventTableName" value="is_raw_item_event" />
    <add key="ItemSenseThresholdHistTableName" value="is_threshold_hist" />
    <add key="ItemSenseThresholdTableName" value="is_threshold" />
    <!-- For demo purposes we will write events to csv file as well (turn this off to improve IO performance if writing to database)  -->
    <add key="WriteRawToCSV" value="true" />
    <add key="RawItemEventCsvFileName" value="C:/tmp/is_raw_item_event.csv" />
    <add key="ThresholdCsvFileName" value="C:/tmp/is_threshold.csv" />
    <!-- For demo purposes we will write events to xml file as well (turn this off to improve IO performance if writing to database)  -->
    <add key="WriteRawToXML" value="false" />
    <add key="RawItemEventXmlFileName" value="C:/tmp/is_raw_item_event.xml" />
    <add key="ThresholdXmlFileName" value="C:/tmp/is_threshold.xml" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>